#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.App {
  position: relative;
}

header {
  position: absolute;
  left: 0; top: 0; right: 0;
  height: var(--header-height);
  z-index: 100;
}

main {
  position: absolute;
  left: 0; top: var(--header-height); right: 0;
  bottom: var(--footer-height);
}
